@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Room-Bold";
    font-style: bold;
    src: url("../public/fonts/Room-Bold.woff");
  }

  @font-face {
    font-family: "Room-Medium";
    font-style: medium;
    src: url("../public/fonts/Room-Medium.woff");
  }

  @font-face {
    font-family: "Room-Light";
    font-style: light;
    src: url("../public/fonts/Room-Light.woff");
  }
}

/*° "Componetizamos" los estilos de tailwind para ser mas facil modificar algun elemento repetido */
@layer components {
  /*# Estilos tailwinds de la barra lateral (aside) */
  .articulo {
    @apply text-white pt-5 pl-5 lg:pl-6 pr-8;
  }

  /** Estudios  */
  .title {
    @apply font-roomMedium text-xl tracking-widest;
  }
  .nivel-estudio {
    @apply font-roomLight inline lg:block;
  }
  .instituto {
    @apply font-thin ml-1 inline lg:block;
  }
  .aside-hr {
    @apply h-px mt-1 mb-4 border border-amber-300;
  }

  /** Cursos*/
  .container_curso {
    @apply border-y py-3 mb-2 flex justify-between items-center;
  }
  .title_curso {
    @apply font-roomLight text-xs;
  }
  .certificado_btn {
    @apply relative opacity-60 hover:opacity-100;
  }
  .svg_container_cursos {
    @apply w-[40px] h-[40px] pointer-events-none;
  }
}
